[System.LCD]
Configuration=User Defined
UserDefinedString={{ ansible_hostname }}

[iDRAC.IPMILan]
AlertEnable=Disabled
CommunityName=public
Enable=Enabled
EncryptionKey=0000000000000000000000000000000000000000
PrivLimit=4


[iDRAC.IPMISerial]
BaudRate=57600
ChanPrivLimit=4
ConnectionMode=Basic
DeleteControl=Disabled
EchoControl=Enabled
FlowControl=RTS/CTS
HandshakeControl=Enabled
InputNewLineSeq=1
LineEdit=Enabled
NewLineSeq=CR-LF


[iDRAC.IPMISOL]
AccumulateInterval=10
BaudRate=115200
Enable=Enabled
MinPrivilege=4
SendThreshold=255

[iDRAC.Racadm]
Enable=Enabled
Timeout=60


[iDRAC.Security]
CsrCommonName=
CsrCountryCode=US
CsrEmailAddr=
CsrKeySize=2048
CsrLocalityName=
CsrOrganizationName=
CsrOrganizationUnit=
CsrStateName=


[iDRAC.Serial]
BaudRate=57600
Command=
Enable=Enabled
HistorySize=8192
IdleTimeout=300
NoAuth=Disabled


[iDRAC.SerialRedirection]
Enable=Enabled
QuitKey=^\

[iDRAC.SNMP]
AgentCommunity=public
AgentEnable=Enabled
AlertPort=162
DiscoveryPort=161
SNMPProtocol=All
TrapFormat=SNMPv1

[iDRAC.SSH]
Enable=Enabled
Port=22
Timeout=1800

[iDRAC.Telnet]
Enable=Disabled
Port=23
Timeout=1800

[iDRAC.Time]
DayLightOffset=0
Timezone=US/Pacific
TimeZoneOffset=0


[iDRAC.Users.2]
Enable=Enabled
IpmiLanPrivilege=4
IpmiSerialPrivilege=4
Password={{ drac_pass }}
Privilege=0x1ff
SNMPv3AuthenticationType=SHA
SNMPv3Enable=Disabled
SNMPv3PrivacyType=AES
SolEnable=Enabled
UserName=root

[iDRAC.vFlashSD]
Enable=Disabled


[iDRAC.VirtualConsole]
AccessPrivilege=Deny Access
AttachState=Auto-Attach
Enable=Enabled
EncryptEnable=AES
LocalVideo=Enabled
MaxSessions=6
PluginType=0
Port=5900
Timeout=1800


[iDRAC.VirtualMedia]
Attached=AutoAttach
BootOnce=Disabled
EncryptEnable=AES
FloppyEmulation=Disabled
KeyEnable=Disabled

[iDRAC.WebServer]
Enable=Enabled
HttpPort=80
HttpsPort=443
HttpsRedirection=Enabled
SSLEncryptionBitLength=128-Bit or higher
Timeout=1800

[iDRAC.IPv4]
DHCPEnable=Enabled
DNSFromDHCP=Enabled
Enable=Enabled

[iDRAC.IPv6]
Enable=Disabled

[iDRAC.IPv6Static]
DNSFromDHCP6=Disabled

[iDRAC.NIC]
Autoneg=Enabled
DNSDomainFromDHCP=Enabled
DNSDomainNameFromDHCP=Enabled
DNSRacName={{ ansible_hostname }}-drac
DNSRegister=Enabled
Duplex=Full
Enable=Enabled