[1;33m


[0;44m              [0m 
[0;44m              [0m [0;32mYou are connected to: 
[0;44m     [0m    [0;44m     [0;32m {{ (facter_networking is defined and facter_networking['fqdn']) or ansible_fqdn }}
[0;44m     [0m    [0;44m     [0m {{ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0])}}
[0;44m     [0m    [0;44m     [0m All connections are monitored 
[0;31m
Disconnect IMMEDIATELY if you are not an authorized user! 

-------------------------------------------------------------------
[0m


